<nav class="navbar navbar-expand-md navbar-light bg-body-light border-bottom sticky-top">


    <!-- Brand -->
    <a class="navbar-brand fs-3" href="/listings">
      <i class="fa-regular fa-compass"></i>
    </a>

    <!-- Toggler for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible nav links -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
      <!-- Left links -->
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <nav class="navbar-nav ms-auto">

    <form class="d-flex" role="search">
      <input class="form-control  me-2 search-inp" type="search" placeholder="Search destination" aria-label="Search"/>
      <button class="btn search-btn " type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
    </form>

</nav>


      <!-- Right links -->
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if (!user) { %>
          <a class="nav-link fw-bold" href="/signup">Signup</a>
          <a class="nav-link fw-bold" href="/login">Login</a>
        <% } else { %>
          <a class="nav-link fw-bold" href="/logout">Logout</a>
        <% } %>
      </div>
  </div>
</nav>
