body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-fluid {
  flex: 1;
  margin-top: 2rem;

  padding: 0;
}

/* navbar */
.navbar {
  height: 5rem;
  padding: 0rem 1rem !important;

  font-size: large;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2.3rem;
}

.nav-link {
  color: #222222 !important;
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
  margin-right: 0.6rem;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info {
  height: 8rem;
  background-color: #ebebeb;
  color: #222222;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.f-info-socials,
.f-info-brand,
.f-info-links {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 0.6rem;
}

/* card */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 400;
}

.listing-link {
  text-decoration: none;
}

.card-img-overlay {
  height: 20rem;

  border-radius: 1rem !important;
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.1;
  background-color: black;
}

.add-btn {
  background-color: #fe424d !important;
  color: white !important;
}

/* show */
.show-img {
  height: 30vh;
  padding: 0 !important;
}

.edit-btn,
.submit-btn {
  background-color: #fe424d !important;
  color: white !important;
}

.btns {
  display: flex;
}

.btn:hover {
  box-shadow: 0 0 3px red;
}

.search-btn {
  background-color: #fe424d !important;
  color: white !important;

  border-radius: 1.5rem !important;
}
.search-btn i {
  display: inline;
  margin-right: 0.5rem;
}

.search-inp {
  border-radius: 1.5rem !important;
}
